In [4]:
import pandas as pd 
from datetime import datetime

# Data Source

In [7]:
# Leer los CSV 

tipos_tiendas_totales= {
    'CD'                                          : 'str',    
    'Año'                                         : 'str'
}

tipos_mismas_tiendas= {
    'CD'                                          : 'str',    
    'Año'                                         : 'str'
}

tiendas_totales = pd.read_csv("tiendas_totales.csv", delimiter=";",  encoding="windows-1252", 
                              low_memory=False, dtype=tipos_tiendas_totales )

mismas_tiendas =  pd.read_csv("mismas_tiendas.csv",  delimiter=";",  encoding="windows-1252", 
                              low_memory=False, dtype=tipos_mismas_tiendas)

In [8]:
mismas_tiendas

,CD,Año,Semana,Departamento,Clase,SubClase,Articulo,Marca Propia,Origen,Proveedor,...,Inventario CD pzas,Inventario CD Año Anterior pzas,Inventario Tienda IT pesos,Inventario Tienda IT Año Anterior pesos,Inventario Tienda IT pzas,Inventario Tienda IT Año Anterior pzas,Inventario On Hand pesos,Inventario OH Año Anterior pesos,Inventario On Hand Pzas,Inventario OH Año Anterior pzas
0,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,001 Calculadora de bolsillo,[100099578] - EDAY CALCULADORA PIGGY 1 PZ,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,NaN,0.0,NaN,"6352,9125",NaN,825.0,NaN
1,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,001 Calculadora de bolsillo,[100099579] - EDAY CALCULADORA BASICA KRAFT 1 PZA,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,NaN,0.0,NaN,"5729,172",NaN,744.0,NaN
2,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[100082854] - EDAY CALCULADORA MULTIFUNCIONES,General,US / Canada,KOLE IMPORTS,...,NaN,NaN,0,0,0.0,0.0,"1842,8484","5559,8382",154.0,442.0
3,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[100086152] - EDAY CALCULADORA ESCRITORIO GALA...,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,36.0,0,0,0.0,0.0,"9647,67","48533,4552",425.0,2138.0
4,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[22362109] - EDAY CALCULADORA MINI 1 PIEZA,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"19,1041","54,006",2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180492,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23415997] - BTS GLOBO TERRAQUEO 1 PZA,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"28,4102","284,102",2.0,20.0
180493,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23416041] - BTS GLOBO TERRAQUEO UNIV 1 PZA,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,NaN,0,NaN,0.0,NaN,"361,7775",NaN,9.0
180494,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23565143] - BTS GLOBO TERRAQUEO 1 PZ,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"-13,9016","-152,9176",-1.0,-11.0
180495,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23565151] - BTS GLOBO TERRAQUEO UNIV 1 PZ,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"432,7257","590,0805",11.0,15.0
180496,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23640203] - EDAY GLOBO TERRAQUEO 1PZ,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"76,77","-12,795",6.0,-1.0

In [9]:
tiendas_totales

,CD,Año,Semana,Departamento,Clase,SubClase,Articulo,Marca Propia,Origen,Proveedor,...,Inventario CD pzas,Inventario CD Año Anterior pzas,Inventario Tienda IT pesos,Inventario Tienda IT Año Anterior pesos,Inventario Tienda IT pzas,Inventario Tienda IT Año Anterior pzas,Inventario On Hand pesos,Inventario OH Año Anterior pesos,Inventario On Hand Pzas,Inventario OH Año Anterior pzas
0,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,001 Calculadora de bolsillo,[100099578] - EDAY CALCULADORA PIGGY 1 PZ,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,NaN,0.0,NaN,"6776,44",NaN,880.0,NaN
1,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,001 Calculadora de bolsillo,[100099579] - EDAY CALCULADORA BASICA KRAFT 1 PZA,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,NaN,0.0,NaN,"6144,999",NaN,798.0,NaN
2,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[100082854] - EDAY CALCULADORA MULTIFUNCIONES,General,US / Canada,KOLE IMPORTS,...,NaN,NaN,0,0,0.0,0.0,"1842,8484","5559,8382",154.0,442.0
3,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[100086152] - EDAY CALCULADORA ESCRITORIO GALA...,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,36.0,0,0,0.0,0.0,"9647,67","48533,4552",425.0,2138.0
4,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[22362109] - EDAY CALCULADORA MINI 1 PIEZA,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"19,1041","54,006",2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180792,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23640203] - EDAY GLOBO TERRAQUEO 1PZ,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"76,77","-12,795",6.0,-1.0
180793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 1 Productos

## 1.1 Unión Tiendas Totales Y Mismas Tiendas

fusiona los dos datasets.

In [121]:
# Unir los DataFrames y agregar una columna indicador
merged_tiendas_totales= pd.merge(mismas_tiendas, tiendas_totales, how='left', indicator=True)


# Filtrar solo las filas de mismas_tiendas que están en tiendas_totales
result_df = merged_tiendas_totales[merged_tiendas_totales['_merge'] == 'left_only']

#Eliminar la columna indicador, renombrar 
result_df = result_df.drop(columns=['_merge'])
result_df['Tipo_tienda']="Mismas Tiendas"
result_df


#crear columna Tipo_Tienda en df
tiendas_totales['Tipo_tienda']='Tiendas Totales'


#concatenar las dos tablas
df_concat = pd.concat([tiendas_totales,result_df])



#Vista
df_concat

#Exportar el dataframe
#df_concat.to_csv("data_BI/productos.csv", index=False, sep=';', encoding='windows-1252')

In [99]:
df_concat

,CD,Año,Semana,Departamento,Clase,SubClase,Articulo,Marca Propia,Origen,Proveedor,...,Inventario CD Año Anterior pzas,Inventario Tienda IT pesos,Inventario Tienda IT Año Anterior pesos,Inventario Tienda IT pzas,Inventario Tienda IT Año Anterior pzas,Inventario On Hand pesos,Inventario OH Año Anterior pesos,Inventario On Hand Pzas,Inventario OH Año Anterior pzas,Tipo_tienda
0,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,001 Calculadora de bolsillo,[100099578] - EDAY CALCULADORA PIGGY 1 PZ,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,0,NaN,0.0,NaN,"6776,44",NaN,880.0,NaN,Tiendas Totales
1,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,001 Calculadora de bolsillo,[100099579] - EDAY CALCULADORA BASICA KRAFT 1 PZA,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,0,NaN,0.0,NaN,"6144,999",NaN,798.0,NaN,Tiendas Totales
2,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[100082854] - EDAY CALCULADORA MULTIFUNCIONES,General,US / Canada,KOLE IMPORTS,...,NaN,0,0,0.0,0.0,"1842,8484","5559,8382",154.0,442.0,Tiendas Totales
3,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[100086152] - EDAY CALCULADORA ESCRITORIO GALA...,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,36.0,0,0,0.0,0.0,"9647,67","48533,4552",425.0,2138.0,Tiendas Totales
4,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[22362109] - EDAY CALCULADORA MINI 1 PIEZA,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,0,0,0.0,0.0,"19,1041","54,006",2.0,6.0,Tiendas Totales
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180471,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,010 Tempera,[23416826] - EDAY PINTURA TEMPERA 6 PZS,Class Helpers,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,0,0,0.0,0.0,"38994,3631","34338,8581",4067.0,3340.0,Mismas Tiendas
180485,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,012 Plastilina escolar,[23415567] - EDAY PLASTILINA 8 PZAS,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,24.0,0,0,0.0,0.0,"32389,5524","9604,346",7030.0,1765.0,Mismas Tiendas
180486,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,012 Plastilina escolar,[23415575] - EDAY PLASTILINA 12 PZAS MAS 5,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,0,0,0.0,0.0,"6993,6646","5740,7941",658.0,490.0,Mismas Tiendas
180489,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[100072256] - EDAY GLOBO TERRAQUEO UNIVERSITAR...,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,420.0,0,"398,5308",0.0,12.0,"342106,7235","163366,1514",8794.0,3853.0,Mismas Tiendas
180490,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[100072268] - EDAY GLOBO TERRAQUEO CON BASE ...,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,0,0,0.0,0.0,"89034,8888","41921,821",6368.0,2183.0,Mismas Tiendas

## 1.2 Concat Tiendas Totales & Tiendas Semana

Concatena los dos datasets

In [124]:
# agregar la nueva columna
tiendas_totales['Tipo_tienda']='tiendas_totales'
mismas_tiendas ['Tipo_tienda']='mismas_tiendas'


df_concat_1 = pd.concat([tiendas_totales,mismas_tiendas])
df_concat_1
#Exportar el dataframe
#df_concat_1.to_csv("data_BI/productos.csv", index=False, sep=';', encoding='windows-1252')

In [126]:
mismas_tiendas

,CD,Año,Semana,Departamento,Clase,SubClase,Articulo,Marca Propia,Origen,Proveedor,...,Inventario CD pzas,Inventario CD Año Anterior pzas,Inventario Tienda IT pesos,Inventario Tienda IT Año Anterior pesos,Inventario Tienda IT pzas,Inventario Tienda IT Año Anterior pzas,Inventario On Hand pesos,Inventario OH Año Anterior pesos,Inventario On Hand Pzas,Inventario OH Año Anterior pzas
0,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,001 Calculadora de bolsillo,[100099578] - EDAY CALCULADORA PIGGY 1 PZ,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,NaN,0.0,NaN,"6352,9125",NaN,825.0,NaN
1,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,001 Calculadora de bolsillo,[100099579] - EDAY CALCULADORA BASICA KRAFT 1 PZA,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,NaN,0.0,NaN,"5729,172",NaN,744.0,NaN
2,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[100082854] - EDAY CALCULADORA MULTIFUNCIONES,General,US / Canada,KOLE IMPORTS,...,NaN,NaN,0,0,0.0,0.0,"1842,8484","5559,8382",154.0,442.0
3,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[100086152] - EDAY CALCULADORA ESCRITORIO GALA...,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,36.0,0,0,0.0,0.0,"9647,67","48533,4552",425.0,2138.0
4,7021,2024,Sem-20,012 Escuela y Oficina,001 Calculadoras,002 Calculadora Basica,[22362109] - EDAY CALCULADORA MINI 1 PIEZA,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"19,1041","54,006",2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180492,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23415997] - BTS GLOBO TERRAQUEO 1 PZA,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"28,4102","284,102",2.0,20.0
180493,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23416041] - BTS GLOBO TERRAQUEO UNIV 1 PZA,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,NaN,0,NaN,0.0,NaN,"361,7775",NaN,9.0
180494,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23565143] - BTS GLOBO TERRAQUEO 1 PZ,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"-13,9016","-152,9176",-1.0,-11.0
180495,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23565151] - BTS GLOBO TERRAQUEO UNIV 1 PZ,Studentz,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"432,7257","590,0805",11.0,15.0
180496,7440,2024,Sem-39,012 Escuela y Oficina,027 Aprendizaje escolar,013 Globos Terraqueos,[23640203] - EDAY GLOBO TERRAQUEO 1PZ,General,Overseas,SINO WELL INDUSTRY LIMITED,...,NaN,NaN,0,0,0.0,0.0,"76,77","-12,795",6.0,-1.0